.cart-container {
  width: 300px;
  min-height: 200px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 0.3em 0.2em 0 0.3em;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-left: 1em;
  position: absolute;
  top: 65px;
  right: 5px;
  transition: left 0.3s ease-in-out;
  z-index: 1;
  background-color: white;
}

.cartproduct-container {
  flex-grow: 1;
}

.footer-container {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  width: 100%;
}

.div__footer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.footer__span {
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.footer__price {
  font-size: 1em;
}

.footer__btn {
  background-color: #f85555;
  color: white;
  border: none;
  border-radius: 0.2em;
}
