.container__updatePassword {
  width: 100%;
  height: 100vh;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_password {
  width: 290px;
  min-height: 100px;
  padding: 2em;
  border: 1px solid black;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelPassword {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.inputPassword {
  width: 100%;
  padding: 0.2em 0.2em 0.2em 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
}

.modalUpdate {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4em;
}

.btn__updatePassword {
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(165, 84, 84);
  color: white;
  border: none;
  border-radius: 0.3em;
}

.modalUpdatePassword {
  background-color: rgba(146, 205, 146, 0.675);
  color: green;
  border-radius: 0.5em;
  padding: 0.5em;
  gap: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
